@{
    Layout = "_Layout";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card-body p-5 text-center">
                        <h3 class="mb-5">Авторизация</h3>
                        <form method="post">
                            <div class="form-group">
                                <input type="text" class="form-control mb-2" placeholder="Логин"/> <br/>
                                <input type="password" class="form-control mb-2" placeholder="Пароль"/>
                                <div class="col text-center">
                                    <button class="btn btn btn-dark mt-3 mb-3" type="submit">Войти</button>
                                </div>
                            </div>
                        </form>
                        <div class=" text-center">
                            Впервые здесь? <a href="#">Зарегистрируйтесь!</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>